@import url('https://fonts.googleapis.com/css2? family = Barlow: wght @ 100 & display = swap');
@import url('https://fonts.googleapis.com/css2? family = Abrir + Sans & family = Poiret + One & display = swap');

*{
    
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


body{

    background-color: black;

}

.menu{
    
    list-style: none;
    padding: 0;
    background-color: orangered;
    
}

.menu ul li{

    display: inline;

}

.menu ul li a{

    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    font-style:oblique;
      
}

.menu ul li :hover{

    background-color: grey;
}

.menu ul li:nth-last-child(-n+2) a{
    float: right;
}


#d1{
    color: honeydew;
    padding-left: 50px;
    font-size: 15pt;
    font-family: 'Poiret', 'Courier New', Courier, monospace;

}

#imgmenu{

    position: fixed;
    top: 2.1%;
    left: 50%;
    margin-right: -50%;
  
}

