*{
    
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


body{

    background-color: black;

}

.menu{
    
    list-style: none;
    padding: 0;
    background-color: orangered;
    
}

.menu ul li{

    display: inline;

}

.menu ul li a{

    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-family: 'PT Sans', sans-serif;
      
}

.menu ul li :hover{

    background-color: grey;
}

.menu ul li:nth-last-child(-n+2) a{
    float: right;
}


#T1{
    color: honeydew;
    padding-left: 50px;

}

#imgmenu{

    position: fixed;
    top: 2.1%;
    left: 50%;
    margin-right: -50%;
  
}